{% extends "layout.html" %}

{% block content %}
<h1>Apie</h1>

<p class="lead">Blogas apie developerius, jų gyvenimą ir kasdienius iššūkius.</p>
<p>Pradžiai - blogo autorius aš, <a>Žilvinas Kuusas</a>, bet visada laukiu bendraminčių norinčių prisijungti.</p>

<h3>Apie idėją</h3>
<p>Pirminis tikslas buvo tiesiog rašyti blogą apie web developinimą. Taip nieko ir nepradėjus, prisidėjo mintis - akcentuoti Lietuvoje dirbančių programuotojų problemas. Ši mintis taipogi išblėso su kolegomis prie alaus apie tai padiskutavus: kiek gi mes, Lietuvėlėje, turim tų specifinių problemų, kad galėtume akcentuoti? Lietuviški Banklinkai, web servisai? Galvoju rašyti tai, kas šauna į galvą. Buvo sunki diena, bet išsiaiškinau kuo visgi DOM klases naudot, o kada užtenka ir SimleXML - kodėl gi apie tai nepasidalinus? Kaip su PHP pasigaminti PKCS#1 DigestInfo? Pavyko - dalinuosi! Nesu rašytojas, kartais netgi suabejoju savo gebėjimais sklandžiai ir nuosekliai reikšti mintis, bet galbūt tai būtų dar vienas iššūkis man? Taigi dar vienas iš blogo tikslų - man išmokti rašyti, pasakoti, aiškinti.</p>
<p>Dar vienas tikslas - suburti bendruomenę, su kuria būtų galima padiskutuoti aktualiais klausimais. Bandysiu rašyt aktualiais klausimais, su kuriais susiduriate arba anksčiau ar vėliau susidursite ir norėsite apie pateiktus sprendimus padiskutuoti: kodėl daryta taip ar ne kitaip, o gal turit geresnį pasiūlymą? Pirmyn! Komentuokit, darykit github pull request'ą, diskutuokim.</p>

<h3>Fantazija</h3>
<p>Blogas - eksperimentas. Bandyti pajungti community šio blogo developinimui. Implementuoti šiam varikliukui naują feature ir apie tai parašyti postą. Arba ką nors patobulinus - parašyti postą apie tai kuo dabar viskas yra geriau. Savo ruožtu pradžiai parašysiu apie Twitter Bootstrap, Silex ir PHPUnit, kodėl juos pasirinkau ir kaip su jais sekasi draugauti.</p>
<p>Padaryti patogius interfeisus postų rašymui, išvystyti naudojant naujausias technologijas, maksimaliai optimizuoti tiek SEO, tiek performance. Kam? For fun! Nes kodint smagu, eksperimentuoti smagu, dviračius išradinėti (laiku ir vietoj), taipogi smagu!</p>

<h3>Technika</h3>
<p>Blogą pakūriau kaip paprasčiausią, web aplikaciją ant PHP mini-frameworko Silex, sugebančią atvaizduoti įrašus ir statinius puslapius iš failų. Visi postai, viešai visiem prieinami kaip ir pačios aplikacijos kodas - https://github.com/kuusas/Fotelis.lt. Būsiu laimingas jeigu darysit pull requests tiek aplikacijos tobulinimui, tiek esamų postų patikslinimui, tiek naujiem postam publikuoti.</p>

<h3>Prisijungsi?</h3>
<p>Norit prisijungti? Padiskutuoti? Rašykit!<br />
    el. paštas: <a href="mailto:info@fotelis.lt">info@fotelis.lt</a><br />
</p>
{% endblock %}
