{% extends "layout.html" %}

{% block content %}
<h1>Autoriai</h1>

<div class="container-fluid">
    <div class="span6">
        <div class="author-profile">
            <img class="img-circle img-author" src="http://profile.ak.fbcdn.net/hprofile-ak-ash4/261029_1787106623_674431542_n.jpg" alt="" />
            <ul class="btn-group">
                <li class="btn btn-small"><a href="http://www.facebook.com/kuusas" class="icon-facebook" target="_blank"></a></li>
                <li class="btn btn-small"><a href="http://www.twitter.com/kuusas" class="icon-twitter" target="_blank"></a></li>
                <li class="btn btn-small"><a href="http://www.linkedin.com/in/kuusas" class="icon-linkedin" target="_blank"></a></li>
            </ul>
        </div>
        <h3>Žilvinas Kuusas</h3>
        <p>Web developer @ <a href="http://www.estina.com" title="Estina - web development">Estina</a></p>
        <p>Patirtis: <br />
            <ul>
                <li>PHP5.3</li>
                <li>MySQL</li>
                <li>Symfony2</li>
                <li>Zend Framework</li>
                <li>Yii</li>
                <li>jQuery</li>
                <li>Doctrine</li>
                <li>Google API</li>
            </ul>
        </p>
    </div>
    <div class="span6">
        <h3>Nori būti bendraautorius?</h3>
        <p>Susisiekit el. paštu <a href="mailto:info@fotelis.lt">info@fotelis.lt</a></p>
    </div>
</div>
{% endblock %}