{% extends "layout.html" %}

{% block content %}
<h1>Autoriai</h1>

<div class="container-fluid">
    <div class="span6">
        <div class="author-profile">
            <img class="img-circle img-author" src="http://profile.ak.fbcdn.net/hprofile-ak-ash4/261029_1787106623_674431542_n.jpg" alt="" />
            <ul class="btn-group">
                <li class="btn btn-small"><a href="http://www.facebook.com/kuusas" class="icon-facebook" target="_blank"></a></li>
                <li class="btn btn-small"><a href="http://www.twitter.com/kuusas" class="icon-twitter" target="_blank"></a></li>
                <li class="btn btn-small"><a href="http://www.linkedin.com/in/kuusas" class="icon-linkedin" target="_blank"></a></li>
            </ul>
        </div>
        <h3>Žilvinas Kuusas</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae ipsum non magna blandit posuere. Sed posuere, turpis sit amet viverra elementum, arcu purus aliquet metus, sit amet sollicitudin lorem quam sit amet tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dignissim ligula laoreet massa lobortis volutpat. Duis lobortis interdum purus in pretium. Nunc dolor dui, eleifend scelerisque convallis eget, pretium id lectus. Fusce at elit turpis, nec suscipit nisl. Aenean quis commodo massa. Suspendisse feugiat odio a nunc commodo molestie. In hac habitasse platea dictumst. Nulla pellentesque scelerisque rutrum.</p>
    </div>
    <div class="span6">
        <h3>Nori būti bendraautorius?</h3>
        <p>Susisiekim <a href="http://www.twitter.com/kuusas" target="_blank">@kuusas on Twitter</a>, el. paštas: <a href="mailto:info@fotelis.lt">info@fotelis.lt</a></p>
    </div>
</div>
{% endblock %}