<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Labadiena</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
              
    <link rel="stylesheet" type="text/css" href="{{ app.request.basePath }}/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{{ app.request.basePath }}/css/responsive.css"/>
    <link rel="stylesheet" type="text/css" href="{{ app.request.basePath }}/css/style.css"/>
                  
  </head>

  <body lang="en">
    {{ render(app.request.baseUrl ~ '/menu') }}

    {% block content %}
    Default block content
    {% endblock %}

    {{ render(app.request.baseUrl ~ '/sidebar') }}
  </body>
</html>