<aside class="span4">
    <div class="sidebar-nav well well-orange">
        <ul class="nav nav-list">
            {% for item in categories %}
            <li{% if item.slug == categorySlug %} class="active"{% endif %}><a href="{{ app.request.baseUrl ~ '/' ~ item.slug }}">{{ item.name }}</a></li>
            {% endfor %}
        </ul>
    </div><!--/.well -->
</aside><!--/span-->
<aside class="span8">
    <div class="sidebar-nav well well-yellow">
        <ul class="nav nav-list">
            {% if posts|length > 0 %}
                {% for item in posts %}
                <li{% if item.slug == postSlug %} class="active"{% endif %}>
                    <a href="{{ app.request.baseUrl ~ '/' ~ item.category ~ '/' ~ item.slug}}" title="{{ item.name }}">
                        {{ item.name | slice(0, 20) }}
                        <small class="pull-right">{{ item.date }}</small>
                    </a>
                </li>
                {% endfor %}
            {% else %}
                <li>Įrašų nėra</li>
            {% endif %}
        </ul>
    </div><!--/.well -->
</aside><!--/span-->