# <FilesMatch "\.php$">
#  AddHandler application/x-httpd-php53 .php
# </FilesMatch>

Options -Indexes +FollowSymLinks

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*) app.php [QSA,L]